<header class="row">
  <div class="large-12 columns">
    <div class="panel">
    <%= image_tag("quote8_logo.png", :size =>"100x100") %>
    <div class="right">
      <%= render 'logout' %>
    </div>
    </div>
  </div>
</header>
  <div class="row">
    <div class="large-3 columns ">
      <div class="panel">
        <a href="/user"><img src="http://www.scottlab.com/uploads/images/blank_profile.png"></a>
        <h5><a href="#">John Doe</a></h5>
          <div id="tag_cloud" class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <% tag_cloud Bookmark.tag_counts, %w[s m l] do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
            <% end %>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 1</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 2</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 3</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 4</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 5</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 6</a></h5>
          </section>
        </div>
       </div>
    </div>
    <div class="large-9 columns" id="bookmarks" data-update-url="<%= sort_bookmarks_url %>">
      <% @bookmarks.each do |bookmark| %>
      <%= bookmark.id %>
      <span class="handle">[drag]</span>
      <div class="row" id="bookmark_<%= bookmark.id %>">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns">
          <p><strong>"</strong><%= bookmark.quote %><strong>"</strong></p>
          <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
            <li><a href=""><% bookmark.tag_list.each do |tag| %>
              <button><%= tag %></button>
              <% end %>
              </a></li>
              Tags: <%= raw bookmark.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
          </ul>
         </div>
      </div>
      <hr />
      <% end %>
    </div>
     <aside class="large-3 columns hide-for-small">
      <p></p>
      <p></p>
    </aside>
  </div>
 <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; "8"</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>