<div class="row">
  <div class="large-3 columns ">
      <h6><a href="#"><%= current_user.email %></a></h6>
        <% tag_cloud Bookmark.tag_counts, %w[s m l] do |tag, css_class| %>
          <ul class="tags">
           <li class="tag"> <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          </li>
        <% end %>
  </div>
  <div class="large-9 columns" id="bookmarks" data-update-url="<%= sort_bookmarks_url %>">
    <% @bookmarks.each do |bookmark| %>
      <div class="row" id="bookmark_<%= bookmark.id %>">
        <div class="large-12 columns">
          <a href="/bookmarks/<%= bookmark.id %>" class>
            <blockquote class="quote listview">
              <% if bookmark.quote.length > 140 %>
                <%= bookmark.quote[0..140] %>...
              <% else %>
                <%= bookmark.quote %>
              <% end %>
            </blockquote>
          </a>
        <div class="large-8">
            <ul class="tags">
              <% bookmark.tag_list.each do |t| %>
              <li class="tag"><%= link_to t, tag_path(t) %></li>
              <% end %>
            </ul>
        </div>
          <ul class="inline-list right">
            <li><a href="">Share</a></li>
            <li>
            <%= link_to 'Delete', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
       </div>
      </div>
      <hr />
    <% end %>
    </ul>
  </div>
  <aside class="large-3 columns hide-for-small">
    <p></p>
    <p></p>
  </aside>
</div>

