
<div class="row">
  <div class="large-3 columns ">
      <h6><a href="#"><%= current_user.email %></a></h6>
      <h6>You have <%= @bookmark_count %> quote(s) <%= @particular_tag %>.</h6>
      <hr />
      <% @uniq_tag_list.each do |t| %>
        <ul class="tags right">
          <li class="tag">
            <%= link_to t, tag_path(t) %>
          </li>
        </ul>
      <% end %>
      <br />
      <hr />
      <h8>Here are Quote8 tags from other users:</h8>
      <br />
      <br />
        <% tag_cloud Bookmark.tag_counts, %w[s m l] do |tag, css_class| %>
          <ul class="tags">
           <li class="tag"> <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          </li>
        <% end %>
        <hr />
  </div>

  <div class="large-9 columns" >
    <%= render 'search' %>
    <hr />
    <% @bookmarks.each do |bookmark| %>
      <div class="row" id="bookmark_<%= bookmark.id %>">
        <div class="large-12 columns">
          <a href="/bookmarks/<%= bookmark.id %>" class>
            <blockquote class="quote listview">
              <% if bookmark.quote.length > 140 %>
                <%= bookmark.quote[0..140] %>...
              <% else %>
                <%= bookmark.quote %>
              <% end %>
            </blockquote>
          </a>
        <div class="large-8 left">
            <ul class="tags inline-list left">
              <% bookmark.tag_list.each do |t| %>
              <li class="tag"><%= link_to t, tag_path(t) %></li>
              <% end %>
            </ul>
        </div>
        <div class="right">
          <%= link_to (image_tag 'trash.svg', class: 'icon'), bookmark, method: :delete, data: { confirm: 'Are you sure?'}, :class => 'icon' %>
        </div>
       </div>
      </div>
      <hr />
    <% end %>
    </ul>
  </div>


