
<div class="row">
  <div class="large-12 columns">
    <blockquote class="quote">
      <%= @bookmark.quote %>
    </blockquote>
    <div>
      <span class="left">
        <%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
        <%= link_to 'Back', bookmarks_path %>
      </span>
      <span class="right">
      <a href="#" data-reveal-id="apa" class="small button">APA</a>
      <a href="#" data-reveal-id="mla" class="small button">MLA</a>
      </span>
    </div>
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <h4><a href="<%= @bookmark.url %>"><%= @bookmark.title %></a>
    </h4>
    <br />
    <br />
    <a href="<%= @bookmark.url %>" class="secondary small button left">View Original Page &rarr;</a>
    <ul class="tags right">
      <% @bookmark.tag_list.map do |t| %>
      <li class="tag"><%= link_to t, tag_path(t) %></li>
      <% end %>
    </ul>
   </div>

  <div class="large-4 columns">
    <ul class="small-block-grid-2">
      <li>Saved on:<br><%= @bookmark.retrieved_on %></li>
      <% if @bookmark.published_on == @bookmark.retrieved_on %>
      <li></li>
      <% else %>
      <li>Published on:<br><%= @bookmark.published_on %></li>
      <% end %>
      <% if  (@bookmark.author_first_name == @form_regex) && (@bookmark.author_last_name == @form_regex) %>
      <li>
        Author:<br><%= @bookmark.author_first_name %><br><%= @bookmark.author_last_name %>
      </li>
      <% else %>
      <li></li>
      <% end %>
      <% if @bookmark.publisher.include?(@form_regex) %>
      <li>
        Publisher:<br><%= @bookmark.publisher %>
      </li>
      <% else %>
      <li></li>
      <% end %>


      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= @bookmark.url %>" data-lang="en" data-text="<%= @bookmark.quote %>" >Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li>
      <%= form_tag("/send_email", :method => "post") do %>
        <%= label_tag(:q, "Email this quote:") %>
        <%= email_field_tag(:to) %>
        <%= hidden_field_tag 'id', params[:id] %>
        <%= submit_tag("Send") %>
      <% end %>
      </li>
    </ul>
  </div>
</div>


<div class="reveal-modal-bg" style="opacity: 0; display: none;"></div>
<div id="mla" class="reveal-modal">
   <h2>MLA Format</h2>
    <p id="mla_format">
      <%= @bookmark.author_last_name %>, <%= @bookmark.author_first_name %>. "<%= @bookmark.title %>." <%= @bookmark.publisher %>, (<%= @bookmark.published_on%>). Web. <%= @bookmark.retrieved_on %>.
    </p>
    <script language="JavaScript">
      function copyToClipboard (text) {
      window.prompt ("Copy to clipboard: Ctrl+C, Enter", text);
      }
    </script>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="apa" class="reveal-modal">
  <h2>APA Format</h2>
  <p id="apa_quote">
    <%= @bookmark.author_last_name %>, <%= @bookmark.author_first_name %> (<%= @bookmark.published_on%>). <%= @bookmark.title %>. Retrieved <%= @bookmark.retrieved_on %>.
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div class="reveal-modal-bg" style="opacity: 0; display: none;"></div>

<%= javascript_include_tag "zepto" %>
<%= javascript_include_tag "foundation" %>
<%= javascript_include_tag "foundation.reveal" %>
<!--
<script language="JavaScript">
  document.write('<script src=/assets/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>-->

<script>
  // TW: This is causing an error
  $(document).foundation();
</script>

