<div class="row">
  <div class="large-5 columns">
	  <fieldset>
      <legend>Resend unlock instructions</legend>
      <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <div><%= f.label :email %><br />
      	<%= f.email_field :email, :autofocus => true %>
      </div>
      <div><%= f.submit "Resend unlock instructions" %>
      </div>
      <% end %>
    </fieldset>
    <div class="link_buttons"><%= render "devise/shared/links" %></div>
  </div>
</div>


