<div class="row">
  <div class="large-5 large-centered columns">
    <form  action="../users" method="post">
    <fieldset>
      <legend>Log in</legend>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
           <div>
              <%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true %>
           </div>
           <div>
             <%= f.label :password %><br />
             <%= f.password_field :password %>
           </div>
           <% if devise_mapping.rememberable? -%>
           <div>
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
           </div>
           <% end -%>
           <div>
            <%= f.submit "Sign in" %>
           </div>
          <% end %>
      <div class="link_buttons"><%= render "devise/shared/links" %></div>
    </fieldset>
  </div>
</div>


      